<div class="form">
  <h1>ログイン</h1>

  <%= form_with(url: login_path, scope: :session, local: true) do |f| %>
    <div class="form-parts">
      <%= f.label :email, "メールアドレス" %>
      <%= f.email_field :email, required: true %>
    </div>

    <div class="form-parts">
      <%= f.label :password, "パスワード" %>
      <%= f.password_field :password, required: true %>
    </div>

    <div class="form-parts">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, "ログイン状態を保存する" %>
    </div>

    <button class="btn m-btn submit">ログイン<i class="fas fa-paper-plane"></i></button>
  <% end %>

  <a class="btn a-btn easy-login" rel="nofollow" data-method="post" href="/guest_login">かんたんログイン<i class="fas fa-paper-plane"></i></a>
  <p class="user-signup"><%= link_to '新規ユーザー登録はこちら', new_user_path %></p>
</div>
