<%= form_with(model: @user, local: true, id: 'form') do |f| %>
  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">person</i>
          <%= f.text_field :name, data: { length: '50' }, class: 'character-counter' %>
          <%= f.label :name, "ユーザー名（50文字以内）" %>
          <% if @user.errors.include?(:name) %>
            <p class="error-message"><%= @user.errors.full_messages_for(:name).first %></p>
          <% end %>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">email</i>
          <%= f.email_field :email %>
          <%= f.label :email, "メールアドレス" %>
          <% if @user.errors.include?(:email) %>
            <p class="error-message"><%= @user.errors.full_messages_for(:email).first %></p>
          <% end %>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <%= f.password_field :password %>
          <%= f.label :password, "パスワード（6文字以上）" %>
          <% if @user.errors.include?(:password) %>
            <p class="error-message"><%= @user.errors.full_messages_for(:password).first %></p>
          <% end %>
        </div>
        <div class="input-field col s12">
          <i class="material-icons prefix">lock</i>
          <%= f.password_field :password_confirmation %>
          <%= f.label :password_confirmation, "確認用パスワード" %>
          <% if @user.errors.include?(:password_confirmation) %>
            <p class="error-message"><%= @user.errors.full_messages_for(:password_confirmation).first %></p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
  <button class="btn waves-effect waves-light" type="submit" name="action">
    <%= yield(:button_text) %>
    <i class="material-icons right">send</i>
  </button>
<% end %>
