<%= form_with(model: @user, local: true) do |f| %>
  <div class="form-parts">
    <%= f.label :image, "アイコン画像" %>
    <span class="optional">任意</span>
    <%= f.file_field :image, accept: 'image/jpg, image/jpeg, image/png, image/gif' %>
    <%= f.hidden_field :image_cache %>
    <%= image_tag @user.image.url, alt: 'アイコン画像' if @user.image? %>
    <% if @user.errors.include?(:image) %>
      <p class="error-message"><%= @user.errors.full_messages_for(:image).first %></p>
    <% end %>
  </div>

  <div class="form-parts">
    <%= f.label :name, "ユーザー名" %>
    <span class="required">必須</span>
    <%= f.text_field :name, required: true %>
    <% if @user.errors.include?(:name) %>
      <p class="error-message"><%= @user.errors.full_messages_for(:name).first %></p>
    <% end %>
  </div>

  <div class="form-parts">
    <%= f.label :email, "メールアドレス" %>
    <span class="required">必須</span>
    <%= f.email_field :email, required: true %>
    <% if @user.errors.include?(:email) %>
      <p class="error-message"><%= @user.errors.full_messages_for(:email).first %></p>
    <% end %>
  </div>

  <div class="form-parts">
    <%= f.label :password, "パスワード" %>
    <span class="required">必須</span>
    <%= f.password_field :password, required: true %>
    <% if @user.errors.include?(:password) %>
      <p class="error-message"><%= @user.errors.full_messages_for(:password).first %></p>
    <% end %>
  </div>

  <div class="form-parts">
    <%= f.label :password_confirmation, "確認用パスワード" %>
    <span class="required">必須</span>
    <%= f.password_field :password_confirmation, required: true %>
    <% if @user.errors.include?(:password_confirmation) %>
      <p class="error-message"><%= @user.errors.full_messages_for(:password_confirmation).first %></p>
    <% end %>
  </div>

  <button class="btn m-btn submit"><%= yield(:button_text) %><i class="fas fa-paper-plane"></i></button>
<% end %>
