<div class="user-details">
  <div class="user-info">
    <% if @user.image? %>
      <%= image_tag @user.image.url, alt: 'アイコン画像', width: '200', height: '200' %>
    <% else %>
      <img alt="アイコン画像" src="/assets/default.png" width="200" height="200">
    <% end %>
    <p><%= @user.name %></p>
    <span><%= @user.followings.count %>フォロー中</span>
    <span><%= @user.followers.count %>フォロワー</span>
  </div>

  <div class="follow-unfollow-btn">
    <%= render 'relationships/follow_unfollow_btn', user: @user %>
  </div>

  <div class="tab-wrap">
    <input id="tab1" type="radio" name="tab" class="tab-switch" checked="checked">
    <label class="tab-label" for="tab1">投稿 <%= @my_posts.total_count %></label>
    <div class="tab-content tc1">
      <div class="my-posts">
        <%= render 'posts/my_posts' %>
      </div>
      <%= paginate @my_posts %>
      <%= render 'shared/infinite_scroll1' %>
    </div>
    <input id="tab2" type="radio" name="tab" class="tab-switch">
    <label class="tab-label" for="tab2">いいね <%= @like_posts.total_count %></label>
    <div class="tab-content tc2">
      <div class="like-posts">
        <%= render 'posts/like_posts' %>
      </div>
      <%= paginate @like_posts %>
      <%= render 'shared/infinite_scroll2' %>
    </div>
  </div>
</div>
