<div class="user-details">
  <div class="user-info">
    <% if @user.image? %>
      <%= image_tag @user.image.url, alt: 'アイコン画像', width: '180', height: '180' %>
    <% else %>
      <img alt="アイコン画像" src="/assets/default.png" width="180" height="180">
    <% end %>
    <span class="name"><%= @user.name %></span>
  </div>

  <div class="follow-unfollow-btn-<%= @user.id %>">
    <%= render 'relationships/follow_unfollow_btn', user: @user %>
  </div>

  <div class="tab-wrap">
    <input id="tab1" type="radio" name="tab" class="tab-switch" checked="checked">
    <label class="tab-label" for="tab1">投稿 <%= @my_posts.total_count %></label>
    <div class="tab-content tc1">
      <div class="my-posts">
        <%= render 'my_posts' %>
      </div>
      <%= paginate @my_posts %>
      <%= render 'shared/infinite_scroll1' %>
    </div>

    <input id="tab2" type="radio" name="tab" class="tab-switch">
    <label class="tab-label" for="tab2">フォロー中 <%= @followings.total_count %></label>
    <div class="tab-content tc2">
      <div class="followings">
        <%= render 'followings' %>
      </div>
      <%= paginate @followings %>
      <%= render 'infinite_scroll2' %>
    </div>

    <input id="tab3" type="radio" name="tab" class="tab-switch">
    <label class="tab-label" for="tab3">フォロワー <%= @followers.total_count %></label>
    <div class="tab-content tc3">
      <div class="followers">
        <%= render 'followers' %>
      </div>
      <%= paginate @followers %>
      <%= render 'infinite_scroll3' %>
    </div>

    <input id="tab4" type="radio" name="tab" class="tab-switch">
    <label class="tab-label" for="tab4">いいね <%= @like_posts.total_count %></label>
    <div class="tab-content tc4">
      <div class="like-posts">
        <%= render 'like_posts' %>
      </div>
      <%= paginate @like_posts %>
      <%= render 'infinite_scroll4' %>
    </div>
  </div>
  <%= render 'shared/floating_btn' %>
</div>
