<% if @user.image? %>
  <%= image_tag @user.image.url, alt: 'アイコン画像' %>
<% else %>
  <img alt="アイコン画像" src="/assets/default.png" width="150" height="150">
<% end %>

<p><%= @user.name %></p>

<div class="follow-unfollow-btn">
  <%= render 'relationships/follow_unfollow_btn', user: @user %>
</div>

<div class="row">
  <% @posts.each do |post| %>
    <div class="col s12 m6 l4 xl3">
      <div class="card center-align">
        <div class="card-image">
          <%= image_tag 'spring.jpg', alt: '画像' %>
        </div>
        <div class="card-content">
          <p><%= link_to post.title, post %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @posts %>
