<div class="category-menu">
  <span class="menu-title">カテゴリー別<%= icon('fas', 'caret-down') %></span>
  <div class="sub-menu">
    <ul>
      <li><%= link_to 'お父さん・お母さん', posts_category_path(1), class: 'menu menu1' %></li>
      <li><%= link_to 'お兄ちゃん・お姉ちゃん', posts_category_path(2), class: 'menu menu2' %></li>
      <li><%= link_to '弟・妹', posts_category_path(3), class: 'menu menu3' %></li>
      <li><%= link_to 'おじいちゃん・おばあちゃん', posts_category_path(4), class: 'menu menu4' %></li>
      <li><%= link_to '旦那さん・奥さん', posts_category_path(5), class: 'menu menu5' %></li>
      <li><%= link_to '息子・娘', posts_category_path(6), class: 'menu menu6' %></li>
      <li><%= link_to '孫', posts_category_path(7), class: 'menu menu7' %></li>
      <li><%= link_to '彼氏・彼女', posts_category_path(8), class: 'menu menu8' %></li>
      <li><%= link_to '友達', posts_category_path(9), class: 'menu menu9' %></li>
      <li><%= link_to 'その他', posts_category_path(10), class: 'menu menu10' %></li>
    </ul>
  </div>
</div>
