<%= form_with(model: @post, local: true) do |f| %>
  <div class="form-parts">
    <%= f.label :title, "タイトル" %>
    <span class="required">必須</span>
    <%= f.text_field :title, required: true %>
    <% if @post.errors.include?(:title) %>
      <p class="error-message"><%= @post.errors.full_messages_for(:title).first %></p>
    <% end %>
  </div>

  <div class="form-parts">
    <%= f.label :category_id, "誰に対して感謝を伝えたいですか？" %>
    <span class="required">必須</span>
    <%= f.collection_select :category_id, Category.all, :id, :name %>
    <% if @post.errors.include?(:category_id) %>
      <p class="error-message"><%= @post.errors.full_messages_for(:category_id).first %></p>
    <% end %>
  </div>

  <div class="form-parts">
    <%= f.label :content, "内容" %>
    <span class="required">必須</span>
    <%= f.text_area :content, required: true %>
    <% if @post.errors.include?(:content) %>
      <p class="error-message"><%= @post.errors.full_messages_for(:content).first %></p>
    <% end %>
  </div>

  <div class="form-parts">
    <%= f.label :check, "感謝の気持ちは伝えましたか？" %>
    <span class="required">必須</span>
    <div class="check">
      <%= f.radio_button :check, '1', required: true %>
      <%= f.label :check, "はい", value: 1 %>
      <%= f.radio_button :check, '0', required: true %>
      <%= f.label :check, "まだです", value: 0 %>
    </div>
    <p class="explanation">「はい」を選択すると<i class="fas fa-star"></i>がつきます。（他のユーザーからは見えません）</p>
    <% if @post.errors.include?(:check) %>
      <p class="error-message"><%= @post.errors.full_messages_for(:check).first %></p>
    <% end %>
  </div>

  <div class="form-parts">
    <%= f.label :status, "公開・非公開設定" %>
    <span class="required">必須</span>
    <div class="status">
      <%= f.radio_button :status, '1', required: true %>
      <%= f.label :status, "公開する", value: 1 %>
      <%= f.radio_button :status, '0', required: true %>
      <%= f.label :status, "公開しない", value: 0 %>
    </div>
    <% if @post.errors.include?(:status) %>
      <p class="error-message"><%= @post.errors.full_messages_for(:status).first %></p>
    <% end %>
  </div>

  <button class="submit"><%= yield(:button_text) %><i class="fas fa-paper-plane"></i></button>
<% end %>
