<% @posts.each do |post| %>
  <div class="post">
    <div class="contents">
      <a href="/users/<%= post.user.id %>"><%= image_tag post.user.image.url, alt: 'アイコン画像' %></a>
      <a href="/posts/<%= post.id %>">
        <div class="info">
          <div class="category">
            <span class="category-color<%= post.category.id %>"><%= post.category.name %></span>
          </div>
          <div class="title">
            <h2><%= post.title %></h2>
          </div>
          <div class="comment-like">
            <span class="comment">
              <%= icon('fas', 'comment-dots') %>
              <%= post.comments.length %>
            </span>
            <span class="like">
              <%= icon('fas', 'heart') %>
              <%= post.likes.length %>
            </span>
          </div>
        </div>
      </a>
    </div>
  </div>
<% end %>
