<div class="post">
  <span class="category category-color<%= @post.category.id %>"><%= @post.category.name %></span>
  <h2 class="title"><%= @post.title %></h2>
  <p class="content"><%= safe_join(@post.content.split("\n"),tag(:br)) %></p>
  <div class="flex">
    <div class="left">
      <div id="post-like-<%= @post.id %>">
        <%= render 'likes/post_like', post: @post %>
      </div>
      <% if current_user?(@post.user) %>
        <%= link_to '編集する', edit_post_path(@post), class: 'edit' %>
        <%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'delete' %>
      <% end %>
    </div>
    <div class="right">
      <a href="/users/<%= @post.user.id %>">
        <% if @post.user.image? %>
          <%= image_tag @post.user.image.url, alt: 'アイコン画像', width: '50', height: '50' %>
        <% else %>
          <img alt="アイコン画像" src="/assets/default.png" width="50" height="50">
        <% end %>
      </a>
      <%= link_to @post.user.name, @post.user, class: 'contributor' %>
      <span class="created-at"><%= l @post.created_at %></span>
    </div>
  </div>
</div>
