<div class="category-by">
  <div class="category-search">
    <%= render 'category_menu' %>
    <%= render 'search_form' %>
  </div>
  <div class="posts">
    <%= render 'posts', posts: @posts %>
  </div>
  <%= paginate @posts %>
  <%= render 'shared/infinite_scroll1' %>
  <%= render 'shared/floating_btn' %>
</div>

