<div class="top-page">
  <div class="menu-search">
    <div class="menus">
      <%= render 'category_menu' %>
      <%= render 'sort_menu' %>
    </div>
    <%= render 'search_form' %>
  </div>
  <div class="posts">
    <%= render 'posts', posts: @posts %>
  </div>
  <%= paginate @posts %>
  <%= render 'shared/infinite_scroll1' %>
  <%= render 'shared/floating_btn' %>
</div>
