<div class="search-result">
  <div class="category-search">
    <%= render 'category_menu' %>
    <%= render 'search_form' %>
  </div>
  <div class="posts">
    <%= render 'list', posts: @posts %>
  </div>
  <%= paginate @posts %>
  <%= render 'shared/infinite_scroll1' %>
</div>
