<div class="post-details">
  <div class="post">
    <span class="category category-color<%= @post.category.id %>"><%= @post.category.name %></span>
    <% if @post.status == 0 %>
      <div class="private">
        <span>非公開</span>
      </div>
    <% end %>
    <% if current_user?(@post.user) %>
      <% if @post.check == 1 %>
        <h2 class="title"><i class="fas fa-star"></i><%= @post.title %></h2>
      <% else %>
        <h2 class="title"><%= @post.title %></h2>
      <% end %>
    <% else %>
      <h2 class="title"><%= @post.title %></h2>
    <% end %>
    <p class="content"><%= safe_join(@post.content.split("\n"),tag(:br)) %></p>
    <div class="flex">
      <div class="left">
        <div id="post-like-<%= @post.id %>">
          <%= render 'likes/post_like', post: @post %>
        </div>
        <% if current_user?(@post.user) %>
          <%= link_to '編集する', edit_post_path(@post), class: 'edit' %>
          <%= link_to '削除する', @post, method: :delete, data: { confirm: '本当に削除しますか？' }, class: 'delete' %>
        <% end %>
      </div>
      <div class="right">
        <a href="/users/<%= @post.user.id %>">
          <% if @post.user.image? %>
            <%= image_tag @post.user.image.url, alt: 'アイコン画像', width: '50', height: '50' %>
          <% else %>
            <img alt="アイコン画像" src="/assets/default.png" width="50" height="50">
          <% end %>
        </a>
        <%= link_to @post.user.name, @post.user, class: 'contributor' %>
        <span class="created-at"><%= l @post.created_at %></span>
      </div>
    </div>
  </div>

  <div class="comment-form">
    <%= form_with(model: @comment) do |f| %>
      <%= f.hidden_field :post_id, value: @post.id %>
      <div class="form-parts">
        <%= f.text_area :content, rows: '4', placeholder: 'コメントを書く' %>
        <p class="error-message"></p>
      </div>
      <button class="btn submit">コメントする</button>
    <% end %>
  </div>

  <h2 class="comment-list">コメント一覧</h2>
  <div class="comments">
    <% @comments.each do |comment| %>
      <div class="comment" id="comment-<%= comment.id %>">
        <a href="/users/<%= comment.user.id %>">
          <% if comment.user.image? %>
            <%= image_tag comment.user.image.url, alt: 'アイコン画像', width: '50', height: '50' %>
          <% else %>
            <img alt="アイコン画像" src="/assets/default.png" width="50" height="50">
          <% end %>
        </a>
        <div class="right">
          <%= link_to comment.user.name, comment.user, class: 'commenter' %>
          <span class="created-at"><%= l comment.created_at %></span>
          <p class="content"><%= safe_join(comment.content.split("\n"),tag(:br)) %></p>
          <div id="comment-like-<%= comment.id %>" class="comment-like">
            <%= render 'likes/comment_like', comment: comment %>
          </div>
          <% if current_user?(comment.user) %>
            <%= link_to '削除する', comment, method: :delete, data: { confirm: '本当に削除しますか？' }, remote: true, class: 'delete' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @comments %>
  <%= render 'shared/infinite_scroll1' %>
</div>
