<!DOCTYPE html>
<html>
  <head>
    <title>Thanks</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <main>
      <%= render 'shared/flash' %>
      <%= yield %>
    </main>
    <%= render 'layouts/footer' %>
    <script src="https://unpkg.com/infinite-scroll@3/dist/infinite-scroll.pkgd.min.js"></script>
  </body>
</html>
